* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.container {
  width: 70%;
  margin: 0 auto;
  padding: 15px 0;
}

.navbar {
  list-style: none;
  display: flex;
}

.navbar li {
  margin-right: 15px;
}

.navbar a {
  color: blue;
}

.card {
  width: 100%;
  border: 1px solid #e0e0e0;
  padding: 15px;
}

.card .card-title {
  font-size: 24px;
  font-weight: bold;
}

.mb {
  margin-bottom: 15px;
}

.mt {
  margin-top: 15px;
}

.ml {
  margin-left: 15px;
}

.mr {
  margin-right: 15px;
}

.m {
  margin: 15px;
}

.pb {
  padding-bottom: 15px;
}

.pt {
  padding-top: 15px;
}

.pl {
  padding-left: 15px;
}

.pr {
  padding-right: 15px;
}

.p {
  padding: 15px;
}
